build/
.idea/
.gradle/
**/build/
**/fileHashes/
**/fileChanges/
**/fileContent/
**/javaCompile/
**/taskHistory/
**/buildOutputCleanup/
**/.project
**/.settings/
**/.classpath
gradle/
gradle.properties
gradlew
gradlew.bat
.gradle/
